{% extends "base.html" %}

{% block title %}Solicitudes Rechazadas{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2>Solicitudes Rechazadas</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Descripción</th>
              <th>Fecha y Hora de Creación</th>
              <th>Registrado Por</th>
              <th>Comunidad</th>
              <th>Fuente</th>
              <th>Monto Solicitado</th>
              <th>Monto Aprobado</th>
              <th>Realizado por</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for solicitud in solicitudes %}
            <tr>
              <td>{{ solicitud.id }}</td>
              <td>{{ solicitud.nombre_completo }}</td>
              <td>{{ solicitud.email }}</td>
              <td>{{ solicitud.descripcion }}</td>
              <td>{{ solicitud.fecha_solicitud.strftime('%Y-%m-%d %H:%M:%S') }}</td>
              <td>{{ solicitud.user.username }}</td>
              <td>{{ solicitud.comunidad }}</td>
              <td>{{ solicitud.fuente }}</td>
              <td>{{ solicitud.realizado_por }}</td>
              <td>
                <a href="{{ url_for('main.reporte_solicitud', solicitud_id=solicitud.id) }}" class="btn btn-sm btn-info">Ver Reporte</a>
                <a href="{{ url_for('main.editar_solicitud', solicitud_id=solicitud.id) }}" class="btn btn-sm btn-warning">Editar</a>
                <form method="POST" action="{{ url_for('main.eliminar_solicitud', solicitud_id=solicitud.id) }}" style="display:inline;">
                  <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}